<!-- Transactions Card -->
<div class="max-w-6xl mt-10 mx-auto">
  <div
    class="bg-white rounded-xl p-6 shadow-sm hover:shadow-md transition-shadow border-l-4 border-blue-500"
  >
    <div class="flex justify-between items-start">
      <div>
        <p class="text-2xl font-bold text-slate-800 font-lilita">Transactions</p>
        <h3 class="text-gray-600 text-sm font-medium">
          You had 2 incomes and 23 expenses this month
        </h3>
      </div>
    </div>

    <!-- TableGrid container -->
    <div class="mt-6 overflow-x-auto">
      <app-tablegrid></app-tablegrid>
    </div>
  </div>
</div>
